<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body class="container">
    <div class="container">
        <header class="jumbotron bg-dark text-center">
            <h1 class="text-light">Contact Manager</h1>
        </header>
        @RenderBody()
    </div>
</body>
</html>
